<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lgj.ktp.dao.SelectionCourseMapper">
  <resultMap id="BaseResultMap" type="org.lgj.ktp.entity.SelectionCourse">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="course_id" jdbcType="VARCHAR" property="courseId" />
    <result column="selecter_id" jdbcType="VARCHAR" property="selecterId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, course_id, selecter_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from selection_course
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据加课码获得课程id -->
  <select id="getCourseIdByAddCode" parameterType="java.lang.String" resultType="java.lang.String">
    select id
    from course
    where add_code = #{addCode,jdbcType=VARCHAR}
  </select>
  
  <!-- 获取同学数量 -->
  <select id="getClassmateCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*)
    from selection_course
    where course_id = #{courseId,jdbcType=VARCHAR}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from selection_course
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 加入课程 -->
  <insert id="selectCourse" parameterType="org.lgj.ktp.entity.SelectionCourse">
    insert into selection_course (id, course_id, selecter_id)
    select #{id,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, #{selecterId,jdbcType=VARCHAR}
    from dual
    where not exists
    (select * from selection_course where course_id = #{courseId,jdbcType=VARCHAR} and selecter_id =  #{selecterId,jdbcType=VARCHAR})

  </insert>
  
  <insert id="insertSelective" parameterType="org.lgj.ktp.entity.SelectionCourse">
    insert into selection_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="selecterId != null">
        selecter_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="selecterId != null">
        #{selecterId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lgj.ktp.entity.SelectionCourse">
    update selection_course
    <set>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="selecterId != null">
        selecter_id = #{selecterId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lgj.ktp.entity.SelectionCourse">
    update selection_course
    set course_id = #{courseId,jdbcType=VARCHAR},
      selecter_id = #{selecterId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>